:root{
    --primary : #344e41;
    --secondary : #3a5a40;
    --tertiary : #588157; 
    --light : #dad7cd;
    --contrast : #a3b18a;
}

.photo{
    width: 200px;
    height: 150px;
    transition: all 1s ease;
}

#carousel{
    position: relative;
    display: flex;
    justify-content: start;
    overflow: hidden;
    width: 200px;
    height: 150px;
}

.photo[data-position="out"]{
    
position: absolute;
left: 200px;

animation: fadeout;
animation-duration: .5s;
animation-iteration-count: 1;
animation-timing-function: ease;
}

.photo[data-position="in"]{
    position: absolute;
    z-index: 1;

    animation: fadein;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fadein {
    from {
        left: 200px;
    } to{
        left: 0px;
    }
}

@keyframes fadeout {
    from {
        left: 0px;
    } to{
        left: -200px;
    }
}