:root{
    --primary : #344e41;
    --secondary : #3a5a40;
    --tertiary : #588157; 
    --light : #dad7cd;
    --contrast : #a3b18a;
}
html{
    background-color: var(--primary);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--light);
}
.heading{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    font-size: 1em;
    font-weight: bold;
    color: var(--light);
}
.textbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 5%;
    background-color: var(--contrast);
    border-radius: 16px;
}
.examplebox{
    width: 90%;
    min-height: 5%;
    background-color: var(--contrast);
    border-radius: 16px;
}