:root{
    --primary : #344e41;
    --secondary : #3a5a40;
    --tertiary : #588157; 
    --light : #dad7cd;
    --contrast : #a3b18a;
}
html{
    background-color: var(--primary);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
#mainbody{
    display: flex;
    flex-direction: column;
    margin: 16px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--light);
}
.heading{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--light);
}
.label{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    font-size: 1em;
    font-weight: normal;
    color: var(--light);
}
.textbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 8px;
    width: 100%;
    min-height: 5%;
    background-color: var(--light);
    border-radius: 16px;
}
.examplebox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 8px;
    padding: 16px;
    max-width: 100%;
    min-height: 5%;
    background-color: var(--tertiary);
    border-radius: 16px;
}
#spinnerExamplebox{
    padding: 64px;
    gap: 32px;
}
